---
jenkins_group: "jenkins"
jenkins_bind_addr: "localhost"
jenkins_port: "8080"
jenkins_next_port: "8180"
jenkins_name: "jenkins"
jenkins_uid: "1000"
jenkins_gid: "1000"
jenkins_home: "/home/jenkins/current"
jenkins_next_home: "/home/jenkins/next"
jenkins_tools_home: "/opt/tools"
jenkins_num_executors: "12"
ldap_group_search_base: ""
ldap_group_search_filter: ""
ldap_root_dn: ""
ldap_host: ""
ldap_port: "636"
ldap_url: ""
root_ca_certs: []
known_hosts.jenkins.ip: "10.88.0.3"
jenkins_service_readwrite_volumes:
  - { src: "{{ jenkins_home }}", dest: '/var/jenkins_home' }
jenkins_service_readonly_volumes:
  - { src: "/home/jenkins/.ssh", dest: '/var/jenkins_home/.ssh' }
  - { src: "/home/jenkins/.netrc", dest: '/var/jenkins_home/.netrc' }
  - { src: '/home/jenkins/.gitconfig', dest: '/var/jenkins_home/.gitconfig' }
  - { src: '{{ ares.home }}/hephaestus/casc-prod.yaml', dest: '/casc.yaml' }
jenkins_service_add_hosts:
  - { src: "{{ known_hosts.podman.name }}", ip: "{{ known_hosts.podman.ip }}" }
  - { src: "{{ known_hosts.server.name }}", ip: "{{ known_hosts.server.ip }}" }
jenkins_service_ports_mapping:
  - { src: "{{ jenkins_port }}", dest: "{{ jenkins_port }}" }
known_hosts.jenkins_next.ip: "10.88.1.0"
jenkins_service_next_readwrite_volumes:
  - { src: "{{ jenkins_next_home }}", dest: '/var/jenkins_home' }
jenkins_service_next_readonly_volumes:
  - { src: "/home/jenkins/.ssh", dest: '/var/jenkins_home/.ssh' }
  - { src: "/home/jenkins/.netrc", dest: '/var/jenkins_home/.netrc' }
  - { src: '/home/jenkins/.gitconfig', dest: '/var/jenkins_home/.gitconfig' }
  - { src: '{{ ares.home }}/hephaestus/casc-staging.yaml', dest: '/casc.yaml' }
jenkins_service_next_add_hosts:
  - { src: "{{ known_hosts.podman.name }}", ip: "{{ known_hosts.podman.ip }}" }
  - { src: "{{ known_hosts.server.name }}", ip: "{{ known_hosts.server.ip }}" }
jenkins_service_next_ports_mapping:
  - { src: "{{ jenkins_port }}", dest: "{{ jenkins_next_port }}" }
