#!/bin/bash
set -eo pipefail

{% if podman_service.image is defined %}
export PODMAN_IMAGE_NAME='{{ podman_service.image }}'
{% endif %}

{% if podman_service.readonly_volumes is defined %}
declare -A READONLY_VOLUMES
{% for vol in podman_service.readonly_volumes %}
READONLY_VOLUMES['{{ vol.src }}']='{{ vol.dest }}'
{% endfor %}
export READONLY_VOLUMES
{% endif %}

{% if podman_service.readwrite_volumes is defined %}
declare -A READWRITE_VOLUMES
{% for vol in podman_service.readwrite_volumes %}
READWRITE_VOLUMES['{{ vol.src }}']='{{ vol.dest }}'
{% endfor %}
export READWRITE_VOLUMES
{% endif %}

{% if podman_service.add_hosts is defined %}
declare -A ADD_HOSTS
{% for h in podman_service.add_hosts %}
ADD_HOSTS['{{ h.src }}']='{{ h.ip }}'
{% endfor %}
export ADD_HOSTS
{% endif %}

{% if podman_service.ports_mapping is defined %}
declare -A PORTS_MAPPING
{% for p in podman_service.ports_mapping %}
PORTS_MAPPING['{{ p.src }}']='{{ p.dest }}'
{% endfor %}
export PORTS_MAPPING
{% endif %}

{% if podman_service.vars is defined %}
declare -A VARS
{% for v in podman_service.vars %}
VARS['{{ v.name }}']='{{ v.value }}'
{% endfor %}
export VARS
{% endif %}

{% if podman_service.ip is defined %}
readonly CONTAINER_STATIC_IP={{ podman_service.ip }}
export CONTAINER_STATIC_IP
{% endif %}
