[Unit]
Description=Podman container-{{ podman_service.name }}.service
Wants=network.target
After=network-online.target

[Service]
Restart=on-failure
ExecStart={{ podman_home }}/{{ podman_service.name }}-service.sh start 
ExecStop={{ podman_home }}/{{ podman_service.name }}-service.sh stop
PIDFile=/var/run/{{ podman_service.name }}/{{ podman_service.name }}.pid
KillMode=none
Type=forking

[Install]
WantedBy=multi-user.target default.target
