---
- assert:
    that:
      - item is defined
      - item.src is defined
      - item.dest is defined
      - item.name is defined
    quiet: true

- name: "Ensures custom script {{ item.dest }} is deployed"
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    group: root
    mode: 0755

- name: "Ensures associate Monit check is enabled ({{ item.name }})"
  template:
    src: templates/monit.script.j2
    dest: "/etc/monit.d/{{ item.name }}"
    owner: root
    group: root
    mode: 0755
  notify:
    - restart monit
