---
- ansible.builtin.assert:
    that:
      - cci_worker.account is defined
      - cci_worker.account.username is defined
      - cci_worker.account.username != ""
      - cci_worker.account.password is defined
      - cci_worker.account.password != ""
      - cci_worker.account.home is defined
    quiet: true

- name: "Creating {{ cci_worker.account.username }} user."
  ansible.builtin.user:
    name: "{{ cci_worker.account.username }}"
    state: present
    password: "{{ cci_worker.account.password | password_hash('sha512', 'A512') }}"
    shell: /bin/bash

- name: "Ensure path provided for home is valid"
  ansible.builtin.stat:
    path: "{{ cci_worker.account.home }}"
  register: account_home

- name: "Ensure home directory {{ cci_worker.account.home }} exists."
  ansible.builtin.file:
    state: directory
    path: "{{ cci_worker.account.home }}"
    owner: "{{ cci_worker.account.username }}"
  when: account_home.stat is defined

- name: "Ensure ssh directory for {{ cci_worker.account.username }} exists"
  ansible.builtin.file:
    state: directory
    path: "{{ cci_worker.account.home }}/.ssh"
    owner: "{{ cci_worker.account.username }}"

- name: "Deploy authorized key"
  ansible.posix.authorized_key:
    user: "{{ cci_worker.account.username }}"
    state: present
    key: "{{ files }}"
  with_file:
    - "{{ cci_worker.pubkey_file }}"
  loop_control:
    loop_var: files

- name: "Deploy fix_multicast script"
  ansible.builtin.copy:
    src: "files/setup_multicast.sh"
    dest: "/usr/local/sbin/setup_multicast.sh"
    owner: "root"
    group: "root"
    mode: "0755"

- name: "Create boot-time service to fix multicast"
  ansible.builtin.copy:
    src: "files/setup_multicast.service"
    dest: "/etc/systemd/system/setup_multicast.service"
    owner: "root"
    group: "root"
    mode: "0644"

- name: "Ensures setup_multicast service is running"
  ansible.builtin.service:
    name: "setup_multicast.service"
    state: started
    enabled: yes

- name: Set environment variables
  become_user: "{{ cci_worker_username }}"
  ansible.builtin.template:
    src: templates/bashrc_template.j2
    dest: "/home/{{ cci_worker_username }}/.bashrc"
    mode: "0644"
    owner: "{{ cci_worker_username }}"

- name: "Enable Linger for {{ cci_worker_username }}"
  become_user: "{{ cci_worker_username }}"
  ansible.builtin.shell: loginctl enable-linger {{ cci_worker_username }}

- name: Enable podman
  become_user: "{{ cci_worker_username }}"
  ansible.builtin.systemd:
    name: "podman.socket"
    state: started
    scope: user
    enabled: true

- name: "Configure testcontainers"
  ansible.builtin.copy:
    src: files/testcontainers.properties
    dest: "/home/{{ cci_worker_username }}/.testcontainers.properties"
    mode: "0644"
    owner: "{{ cci_worker_username }}"
    group: "{{ cci_worker_username }}"
