---
- ansible.builtin.assert:
    that:
      - jobs is defined
      - jobs.name is defined
      - jobs.name != ""
      - jobs.src is defined
      - jobs.src != ""
      - jobs.dest is defined
      - jobs.dest != ""
    quiet: true

- name: "Escalate privileges"
  block:
    - name: "Ensures script job for {{ jobs.name }} is deployed"
      ansible.builtin.template:
        src: "{{ jobs.src }}"
        dest: "{{ jobs.dest }}"
        owner: root
        group: root
        mode: 0745

    - name: "Ensures cron task for {{ jobs.name }} is defined."
      ansible.builtin.cron:
        name: "{{ jobs.name }}"
        job: "{{ jobs.dest }}"
        special_time: "{{ jobs.special_time }}"
      when:
        - jobs.special_time is defined

    - name: "Ensures cron task for {{ jobs.name }} is defined."
      ansible.builtin.cron:
        name: "{{ jobs.name }}"
        job: "{{ jobs.dest }}"
        weekday: "{{ jobs.weekday | default(omit) }}"
        minute: "{{ jobs.minute | default(omit) }}"
        hour: "{{ jobs.hour | default(omit) }}"
        day: "{{ jobs.day | default(omit) }}"
      when:
        - not jobs.special_time is defined
