#!/bin/bash
set -eo pipefail
readonly LOGFILE=$(mktemp)
trap "rm -f ${LOGFILE}" EXIT

cd /etc/ansible
git pull upstream olympus >> "${LOGFILE}"
# TODO: update /etc/ansible/vars too

ansible-playbook -D /etc/ansible/zeus.yml 2>&1 >> "${LOGFILE}"
readonly SUBJECT=$(tail -1 "${LOGFILE}" | sed '/^$/d')
cat "${LOGFILE}" | \
  mailx -r "{{ mailer.to }}" -s "{{ item.name }}:${SUBJECT}" -S smtp="{{ mailer.smtp.host }}:{{mailer.smtp.port }}" "{{ mailer.replyTo }}"
