---
- assert:
    that:
      - item is defined
      - item.username is defined
      - item.hosts is defined
    quiet: true

- set_fact:
    ssh_home: "{{ item.home | default('/home/' + item.username) }}"
    group: "{{ item.group | default(item.username) }}"

- name: "Ensure {{ ssh_home }}/.ssh exists."
  file:
    path: "{{ ssh_home }}/.ssh"
    state: directory
    owner: "{{ item.username }}"
    group: "{{ group }}"

- name: "Deploy identity file into {{ ssh_home }}"
  copy:
    src: "{{ key.path }}"
    dest: "{{ ssh_home }}/.ssh/"
    owner: "{{ item.username }}"
    group: "{{ group }}"
    mode: 0400
  loop: "{{ item.ssh_keys }}"
  loop_control:
    loop_var: key
  when:
    - item.ssh_keys is defined
    - item.ssh_keys | length > 0

- block:
  - assert:
      that:
        - host.nick is defined
        - host.name is defined
      quiet: yes
      fail_msg: "Host are required to have a nick and a name."
    loop: "{{ item.hosts }}"
    loop_control:
      loop_var: host

  - name: "Deploy ssh config for user jenkins"
    template:
      src: templates/config.j2
      dest: "{{ ssh_home }}/.ssh/config"
      owner: "{{ item.username }}"
      group: "{{ group }}"
      mode: 0600
  when:
    - item.hosts is defined
    - item.hosts | length > 0
