check process {{ files.name }} {% if files.pidfile is defined %} with pidfile {{ files.pidfile }} {% else %} matchung {{ files.name }} {%endif %}

{% if files.start_program is defined %}
    start program = "{{ files.start_program }} start"
{% endif %}
{% if files.stop_program is defined %}
    stop program  = "{{ files.stop_program }} stop"
{% endif %}

{% if files.bind_addr is defined %}

{% if files.protocol is defined %}
{%   set protocol= files.protocol %}
{% else %}
{%   set protocol= 'HTTP' %}
{% endif %}

{% for check in files.checks %}
if failed host {{ files.bind_addr }} port {{ files.port }}
          protocol {{ protocol }} request {{ check.context }} method GET with timeout {{ check.timeout }} seconds then {{ check.action }}
{% endfor %}

{% if files.name == 'nginx' %}
{% if maven_http_caches is defined and http_caches_config_folder is defined %}
{% for http_cache in maven_http_caches %}
include {{ http_caches_config_folder }}/{{ http_cache.name }}
{% endfor %}
{% endif %}
{% endif %}

{% endif %}

{% if files.nb_restarts is defined %}
if {{ files.nb_restarts }} restarts within 9 cycles then unmonitor
{% endif %}
