check program {{ item.name }} with path "{{ item.dest }} {% if item.args is defined %}{{ item.args }}{% endif %}"
    with timeout {{ item.timeout | default(10) }} seconds
    if status != 0 then alert
