check program {{ alerts.name }} with path "{{ alerts.dest }} {% if alerts.args is defined %}{{ alerts.args }}{% endif %}"
    with timeout {{ alerts.timeout | default(10) }} seconds
    if status != 0 then alert
