location {{ item.location }}/ {
  add_header X-Cache-Status $upstream_cache_status;

  access_log /var/log/nginx/{{ item.name }}-access.log ;
  error_log /var/log/nginx/{{ item.name }}-error.log ;

  proxy_pass http://{{ item.ip }}:{{ item.ports_mapping[0].dest }}/{{ item.location }}/ ;
  proxy_redirect     http://{{ item.ip }}:{{ item.ports_mapping[0].dest }}/ https://{{ item.ip }};
  include /etc/nginx/commons.d/proxy.conf;
}
