location {{ config.location }}/ {
  add_header X-Cache-Status $upstream_cache_status;

  access_log /var/log/nginx/{{ config.name }}-access.log ;
  error_log /var/log/nginx/{{ config.name }}-error.log ;

  proxy_pass http://{{ config.ip }}:{{ config.ports_mapping[0].src }}{{ config.location }}/ ;
  proxy_redirect     http://{{ config.ip }}:{{ config.ports_mapping[0].src }}/ https://{{ config.ip }};
  include /etc/nginx/commons.d/proxy.conf;
}
