server_name {{ ansible_nodename }};
root /usr/share/nginx/html;

location / {
  error_page 404 /index.html;
  index /index.html;
}

location /publish {
    autoindex on;
}

{% if payload_status_context is defined %}
location {{ payload_status_context }} {
  index /index.html ;
  access_log /var/log/nginx/payload_status-access.log ;
  error_log /var/log/nginx/payload_status-error.log ;
}
{% endif %}

{% if nginx.caches is defined %}{% for cache in nginx.caches.entry %}location {{ cache.path }} {
  access_log /var/log/nginx/cache-{{cache.name }}-access.log ;
  error_log /var/log/nginx/cache-{{ cache.name }}-error.log ;

  include /etc/nginx/commons.d/maven.cache.conf;
  {% if  cache.ssl_server_name is defined %}proxy_ssl_server_name {{ cache.ssl_server_name }};
{% endif %}
  proxy_pass {{ cache.url }};
}

{% endfor %}
{% if eap64_caches is defined %}{% for cache in eap64_caches %}location {{ cache.path }} {
  access_log /var/log/nginx/cache-{{cache.id}}-access.log ;
  error_log /var/log/nginx/cache-{{cache.id}}-error.log ;

  include /etc/nginx/commons.d/maven.cache.conf;
  proxy_pass {{ cache.url }};
}

{% endfor %}
{% endif %}{% endif %}

{% if monit_nginx_proxy_enable is defined %}
location /monit/ {
  access_log /var/log/nginx/monit-access.log ;
  error_log /var/log/nginx/monit-error.log ;

  proxy_pass http://podman.host:2812/;
  proxy_redirect     off;
  proxy_set_header Authorization "Basic {{ encoded_monit_username_password }}";
  include /etc/nginx/commons.d/proxy.conf;
}
{% endif %}

{% for jenkins_server in jenkins_service %}
include /etc/nginx/commons.d/{{ jenkins_server.name }}.conf;
{% endfor %}

# redirect server error pages to the static page /50x.html
error_page   500 502 503 504  /50x.html;
location = /50x.html {
    root   /usr/share/nginx/html;
}
