---
- ansible.builtin.assert:
    that:
      - jenkins is defined
      - jenkins.groupname is defined
      - jenkins.groupname != ""
      - jenkins.gid is defined
      - jenkins.username is defined
      - jenkins.username != ""
      - jenkins.uid is defined
      - jenkins.home is defined
      - jenkins.home != ""
      - jenkins.tools is defined
      - jenkins.tools.home is defined
      - jenkins.tools.home != ""
      - jenkins_sso.prod is defined
      - jenkins_sso.staging is defined
    quiet: true

- name: "Ensures data folder for Jenkins and Jenkins.next exists."
  ansible.builtin.file:
    state: directory
    path: "{{ folder }}"
    owner: "{{ jenkins.username }}"
    group: "{{ jenkins.groupname | default(jenkins.username) }}"
  with_items:
    - "{{ jenkins.home_next }}"
    - "{{ jenkins.home }}"
  loop_control:
    loop_var: folder

- name: "Ensures tools home directory ({{ jenkins.tools.home }} exists."
  ansible.builtin.file:
    state: directory
    path: "{{ jenkins.tools.home }}"
    owner: "{{ jenkins.username }}"
    group: "{{ jenkins.username }}"

- name: "Deploy prod Jenkins configuration file into {{ ares.home }}."
  ansible.builtin.template:
    src: templates/casc.yaml.j2
    dest: "{{ ares.home }}/hephaestus/casc-prod.yaml"
    owner: "{{ ares.owner }}"
    group: "{{ ares.owner }}"
  vars:
    instance: "{{ jenkins_sso.prod }}"

- name: "Deploy staging Jenkins configuration file into {{ ares.home }}."
  ansible.builtin.template:
    src: templates/casc.yaml.j2
    dest: "{{ ares.home }}/hephaestus/casc-staging.yaml"
    owner: "{{ ares.owner }}"
    group: "{{ ares.owner }}"
  vars:
    instance: "{{ jenkins_sso.staging }}"
    jenkins_home: '/home/jenkins/next'

- ansible.builtin.include_tasks: generate_keys.yml
  loop:
    - "/home/jenkins"
  loop_control:
    loop_var: homedir

- name: "Download root CA"
  ansible.builtin.get_url:
    url: "{{ jenkins.root_ca.url }}"
    dest: "{{ ares.home }}/hephaestus/Root-CA.crt"
  check_mode: no
  when:
    - jenkins.root_ca.url is defined

- name: "Import Root CA"
  community.general.java_cert:
    cert_path: "{{ ares.home }}/hephaestus/Root-CA.crt"
    keystore_path: "{{ ares.home }}/hephaestus/cacerts"
    cert_alias: "root-ca"
    executable: "{{ jenkins.default_jdk_home }}/bin/keytool"
    keystore_pass: changeit
    keystore_create: yes
    state: present
  when:
    - jenkins.root_ca.url is defined

- name: "Deploy fetchLastSuccessfulBuildId.sh"
  ansible.builtin.include_tasks: deploy_to_jenkins_homedir.yml
  loop:
    - { template: 'templates/fetchLastSuccessfulBuildId.sh.j2', target: 'fetchLastSuccessfulBuildId.sh' }
    - { template: 'templates/ansible-release-report.html.tmpl.j2', target: 'ansible-release-report.html.tmpl' }
    - { template: 'templates/build-report-ansible-release-report.sh.j2', target: 'build-report-ansible-release-report.sh' }
  loop_control:
    loop_var: file_to_deploy

- name: "Ensures data folder for Jenkins.next exists."
  ansible.builtin.file:
    state: directory
    path: "{{ folder }}"
    owner: "{{ jenkins.username }}"
    group: "{{ jenkins.username }}"
  with_items:
    - "{{ jenkins.home_next }}"
    - "{{ jenkins.home }}"
  loop_control:
    loop_var: folder

- ansible.builtin.set_fact:
     podman_services: "{{ [ podman_services + jenkins.service ] | flatten }}"

- ansible.builtin.set_fact:
     jenkins_service: "{{ jenkins.service }}"
